@{
    ViewBag.Title = "Home Page";
}
    <div class="text-center">
        <img src="~/Content/IMG/Foto.jfif" alt="Foto" class="img-thumbnail" style="margin-bottom:20px" />
    </div>

<div class="jumbotron">
    <h1>Preoyecto Final</h1>
    <p class="lead">Aplicacion de gestion recursos hunmanos por Breidy Núñez</p>
</div>

